body {
background-color: white;
}

#pagecontainer {
position: relative;
width: 100%;
background-color: white;

}

#fb-auth {
margin-left: 40%;
margin-right: auto;
text-align: center;
font-weight: bold;
font-size: 12px;
color: white;
padding: 10px 10px 10px 10px;
cursor: pointer;
background: url(http://www.timelinemoviemaker.com/static/images/green_btn_up_bkg.png);
}


h2 {
text-align: center; 
font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
font-size: 20px;
}
p {
	color: white;
	font-size: 20px;
}
a {
	color: blue;
	font-size: 20px;
}

#video {
margin-left: auto;
margin-right: auto;
margin-top: 1px;
position: relative;
}

#endface {
opacity: 0.01;
text-align: center; 
font-size: 30px;
font-family: Helvetica, Arial, sans-serif;
font-weight:normal;
margin-top: 0px;
margin-left: 30px;
position: absolute;
z-index: 99999;
width: 480px;
height: 0px;
}

#popcornbox {
font-family: Helvetica, Arial, sans-serif;
margin-top: 0px;
margin-left: 20px;
position: absolute;
z-index: 99999;
width: 400px;
height: 200px
opacity: 0.01;

}

#videocontainer {
position: relative;
}

#friend1div {
opacity: 0.01;
margin-top: 0px;
margin-left: 30px;
position: absolute;
z-index: 99999;
width: 50px;
height: 50px;
}

#friend2 {
opacity: 0.01;
margin-top: 0px;
margin-left: 30px;
position: absolute;
z-index: 99999;
width: 50px;
height: 50px;
}

#friend2 {
opacity: 0.01;
margin-top: 0px;
margin-left: 30px;
position: absolute;
z-index: 99999;
width: 100px;
height: 100px;
}

#friend3 {
opacity: 0.01;
margin-top: 0px;
margin-left: 30px;
position: absolute;
z-index: 99999;
width: 100px;
height: 100px;
}

#friend4 {
opacity: 0.01;
margin-top: 0px;
margin-left: 30px;
position: absolute;
z-index: 99999;
width: 100px;
height: 100px;
}

#friend5 {
opacity: 0.01;
margin-top: 0px;
margin-left: 30px;
position: absolute;
z-index: 99999;
width: 100px;
height: 100px;
}